body {
  margin-left: 3%;
}

input {
  height: 30px;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid black;
  padding: 5px 10px;
}
button {
  width: auto;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 0 3px;
  padding: 5px 10px;
  font-size: 20px;
}

button:last-child,
button:nth-last-child(2) {
  background-color: #ff7a5b;
  border: none;
  color: white;
}
